[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-heroku = "*"
python-dotenv = "*"
django = "*"
stripe = "*"
dnspython = "*"
gunicorn = "*"
djongo = "*"
django-formhelper = "*"

[requires]
python_version = "3.8"
