a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-weight: none;
}

.gray {
  color: gray;
}

li {
  list-style: none;
  color: #fff;
  font-size: 18px;
}

p {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
  font-weight: 700;
  color: #fff;
}

.h4 {
  font-family: "Merriweather";
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

p strong {
  font-weight: 700;
}

body {
  background-color: #1a395f;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 15vw;
  margin: 5vh 5vw 2vh 4vw;
}

.desc {
  max-width: 35vw;
  margin: 12vh 2vw 2vh 2vw;
}

.product_dropdown {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #fff;
}

.product {
  margin-top: 4vh;
}

.main {
  margin: 12vh 5vw 2vh 5vw;
}

.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  color: #fff;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #fff;
}

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #a77a47;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a77a47;
  box-shadow: inset 0px 1px 0px 0px #a77a47;
  background-color: #a77a47;
  border: 1px solid #8d673b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
  background: linear-gradient(to bottom, #a77a47 5%, #8d673b 100%);
  background-color: #34caca;
}

select option {
  color: black;
}

.social-icons ul {
  margin-top: 2rem;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: #a77a47;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (max-width: 960px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 5%;
    text-align: justify;
  }

  .sidebar {
    width: 80%;
    margin: 5vh 0 0 0;
  }

  .desc {
    max-width: 80%;
    margin: 6vh 0 0 0;
  }

  .product {
    width: 100%;
    margin: 0 0 0 0;
  }

  .main {
    width: 80%;
    margin: 8vh 0 8vh 0;
  }
}
