{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Autonomous Timelapse Camera</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="Autonomous Timelapse Camera that uploads to youtube and web"
      content="Fully automated in-camera flow of recording images, converting to videos, uploading to youtube and web and storing on external media."
    />
    <meta name="author" content="Matej Meglic" />
    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e89cb83fcf.js"
      crossorigin="anonymous"
    ></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/css.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block scripts %} {% endblock %}
  </body>
</html>
