{% extends "base_generic.html" %} {% load static %}{% block content %}

<div class="sidebar">
  <a href="/"><h1 class="mb-3">Autonomous Timelapse Camera</h1></a>

  <p class="mb-5">
    After months of rigorous testing we reached
    <strong>Beta testing phase</strong> and are shipping cameras! Choose your
    package below and be among the first to get your own ATC! Login over wifi,
    configure changes in minutes, customize automated flow up to your liking and
    then <strong>forget about it</strong> for a year or so. After that, you will
    likely had to check free space on HDD.
  </p>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-medium-m"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="mailto:matej@matejmeglic.com">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="desc">
  <h3>Select product:</h3>
  <br />
  <select class="product_dropdown">
    <option value=""></option>
    {% for product in context.products %}
    <option value="{{product.product}}">{{product.product}}</option>
    {% endfor %}
  </select>
  <br />
  <div class="product">
    <h4 id="product_name">{{context.selected_product.product}}</h4>
    <p>
      <strong>Price: {{context.selected_product.price}} EUR + </strong>
      {% if context.selected_product.shipping_price > 0%}
      {{context.selected_product.shipping_price}} EUR shipping + {% endif %} VAT
    </p>
  </div>
  <input id="quantity" type="number" value="1" min="1" max="10" />
  <input id="pay" class="order_button" type="button" value="Order here" />
  <br />
  <div id="description"></div>

  <br />
  <ul>
    <li><strong>Get the latest features such as:</strong></li>
    <li>- Full control over camera settings</li>
    <li>- Supports multiple capture intervals</li>
    <li>- Overnight capture support</li>
    <li>- Sunrise/Sunset capture with offsets</li>
    <li>- Timecode filenaming</li>
    <li>- Export videos in different formats (ffmpeg)</li>
    <li>- Automatically upload videos to youtube</li>
    <li>&nbsp;&nbsp;(supporting different playlists and accounts)</li>
    <li>- Upload images to your own server</li>
    <li>- Store compressed images to backup HDD</li>
    <li>- Easy camera remote access</li>
  </ul>
</div>
<br />
<br />

{{ context.productsJSON|json_script:"json" }}
{{context.selected_product.description|json_script:"desc_first"}} {% endblock %}
{% block scripts %}
<script>
  const json = JSON.parse(document.getElementById("json").textContent);
  const desc_first = JSON.parse(
    document.getElementById("desc_first").textContent
  );

  let description = document.getElementById("description");
  description.innerHTML = desc_first;

  // set product slug for Stripe
  let prod_name = document.getElementById("product_name").innerHTML;
  let slug = "";
  for (var i = 0; i < json.length; i++) {
    if (prod_name === json[i].product) {
      slug = json[i].slug;
    }
  }

  // set quantity for Stripe
  let quantity = document.getElementById("quantity");
  let quantity_value = parseInt(document.getElementById("quantity").value);

  quantity.addEventListener("change", (event) => {
    quantity_value = parseInt(document.getElementById("quantity").value);
  });

  // Change text on Product dropdown select
  const selectElement = document.querySelector(".product_dropdown");

  selectElement.addEventListener("change", (event) => {
    const result = document.querySelector(".product");
    for (var i = 0; i < json.length; i++) {
      if (json[i].product === event.target.value) {
        result.innerHTML = `<h4 id="product_name">${
          json[i].product
        }</h4><p><strong>Price: ${json[i].price} EUR </strong>
          ${json[i].shipping_price > 0 ? "+ " : ""}${
          json[i].shipping_price > 0 ? json[i].shipping_price : ""
        }${json[i].shipping_price > 0 ? " EUR shipping" : ""} + VAT</p>`;

        description.innerHTML = "";
        description.innerHTML = json[i].description;
        prod_name = json[i].product;
        slug = json[i].slug;
        quantity.value = 1;
      }
    }
  });
</script>
{% endblock %}
